
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Search{% if usuario %} Results{% endif %}</title>
</head>
<body>
  <h1>Search</h1>
 <form action="{% url 'search' %}" method="GET"> 
      <input class="form-control mr-sm-2" type="search" placeholder="search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  {% if usuario %}
    <h2>Resultados de : "{{ user }}":</h2>

    {% if usuario %}
      <ul>
      {% for user in usuario %}
        <li><a href="{% url 'profile' user.username %}">{{ user.2|escape }}</a></l1>
      {% endfor %}
      </ul>
    {% else %}
      <p>No se encontro al usuario</p>
    {% endif %}
  {% endif %}
</body>
</html>