<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Django Social</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

	<header class="main-head">
		<nav class="main">
			<h1 id="logo">Red Social Django</h1>
			<ul>
				{% if request.user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
				{% else %}
				<li><a href="{% url 'registro' %}">Registrate</a></li>
				<li><a href="{% url 'login' %}">Inicia Sesión</a></li>
				{% endif %}
			</ul>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12- search">
					<form method="get">
						<div id="custom-search-input">
							<div class="input-group col-md-12">
								<input type="text" class="form-control" placeholder="buscar" name="buscar">
								<span class="input-group-list">
									<i class="icon icon-search"></i>
									<button type="submit" class="boton btn-success"></button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>

{% if messages %}
	{% for message in messages %}
		<div class="notification {{ message.tags}}">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}
	<!-------------------------------------
					Navigation Bar 
	-------------------------------------->
	<div class="main">
		
		<nav class="second-nav">
			<a class="feed" href="{% url 'feed' %}">Inicio</a>
			{% if request.user.is_authenticated %}
			<a class="profile" href="{% url 'profile' request.user.username %}">Mi Perfil</a>
			<a class="new" href="{% url 'post' %}">Crear nuevo post</a>
			{% endif %}

		</nav>


		{% block content %}

		{% endblock content %}



	</div>

	<footer>
		<div class="row">
			<p>Red Social con Django para el proyecto final de ASIR</p>
		</div>
	</footer>

</body>
</html>