<!DOCTYPE html>
<html>
<head>
	<title>Django Social</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../static/normalize.css">
	<link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body>

	<header class="main-head">
		<nav class="main">
			<h1 id="logo">Red Social Django</h1>
			<ul>
				<li><a href="#">Logout</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</nav>
	</header>

	<!-------------------------------------
					Messages 
	-------------------------------------->

	<!-------------------------------------
					Navigation Bar 
	-------------------------------------->
	<div class="main">
		
		<nav class="second-nav">
			<a class="feed" href="#">Inicio</a>
			<a class="profile" href="#">Mi Perfil</a>
			<a class="new" href="#">Crear nuevo post</a>
		</nav>


		{% block content %}

		{% endblock content %}



	</div>

	<footer>
		<div class="row">
			<p>Red Social con Django para el proyecto final de ASIR</p>
		</div>
	</footer>

</body>
</html>